[submodule "model"]
	path = model
	url = https://github.com/random-iceberg/model-backend.git
[submodule "docs"]
	path = docs
	url = https://github.com/random-iceberg/docker-compose.wiki.git
[submodule "app/backend"]
	path = app/backend
	url = https://github.com/random-iceberg/web-backend.git
[submodule "app/frontend"]
	path = app/frontend
	url = https://github.com/random-iceberg/web-frontend.git
